<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h2>Admin Dashboard</h2>

<input type="text" placeholder="Search doctor..." />

<div id="content">
    <!-- doctors will come here -->
     <h3>Add Doctor</h3>

<input type="text" placeholder="Doctor Name">
<input type="email" placeholder="Email">
<input type="text" placeholder="Specialty">
<button>Add Doctor</button>

<p>Doctor added successfully</p>
</div>

<script type="module" src="/js/adminDashboard.js"></script>
</body>
</html>